$black: #000;
$white: #FFF;
$grey: #777;
$primary-blue: #06F;
$light-blue: #69E;
$dark-yellow: #BB0;
$dark-pink: #F0F;
$half-transparent: rgba(0, 0, 0, 0.5);
$transparent: rgba(0, 0, 0, 0);

$system-message: $primary-blue;
$chat-border: $light-blue;
$private-message: $dark-pink;
$debug-information: $dark-yellow;

